{{#partial "scripts" }}

{{/partial}}

{{#partial "content" }}

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table-wrapper">
                <h3>Admin</h3>
                <ul>
                    <li><a href="/dragoman/ping" target="_blank">Ping</a></li>
                    <li><a href="/dragoman/healthcheck" target="_blank">Health Check</a></li>
                    <li><a href="/dragoman/metrics" target="_blank">Metrics</a></li>
                </ul>
            </div>
        </div>
    </div>

{{/partial}}
{{> dragoman/layout.hbs}}