<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{ISO8601}|[%thread]|%-5level|%logger{36}|%msg%n
            </Pattern>
        </layout>
    </appender>

    <logger name="org.glitch.dragoman.ql.listener.logging.LoggingListener" level="INFO"/>
    <logger name="org.glitch.dragoman.web.subscription.VertxSubscriptionManager" level="ERROR"/>
    <logger name="io.vertx" level="WARN"/>
    <logger name="io.netty" level="WARN"/>
    <logger name="org.mongo" level="WARN"/>
    <logger name="org.mongodb" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>